@model IEnumerable<MercDevs_ej2.Models.Servicio>

@{
    ViewData["Title"] = "Servicios";
}

<h1>Servicios de Mercy Developers</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Agregar Servicio</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>
                Creado Por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIdUsuarioNavigation.Nombre)
            </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu">
                            <a asp-action="Edit" asp-route-id="@item.IdServicio" class="dropdown-item">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdServicio" class="dropdown-item"> Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.IdServicio" class="dropdown-item">Borrar</a>
                            <a asp-action="Verdescripcion" asp-route-id="@item.IdServicio" class="dropdown-item">Ver Descripciones</a>
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
