@model IEnumerable<MercDevs_ej2.Models.Descripcionservicio>

@{
    ViewData["Title"] = "Descripcion Servicio";
}

@if (!Model.Any())
{
    <h1>Descripción de Servicio</h1>
    <div style="text-align:center; margin-top: 50px;">
        <h1>Ups, no hay ninguna descripción para mostrar</h1>
        <a asp-action="Create" asp-controller="Descripcionservicios" asp-route-id="@ViewBag.servicio.IdServicio">
            <button type="button" class="btn btn-success">Agregar Descripción de Servicio</button>
        </a>
        <a asp-action="Index" asp-controller="Servicios">
            <button type="button" class="btn btn-info">Volver a Listado</button>
        </a>
    </div>
}
else
{
    <h1>Descripción del Servicio: @ViewBag.servicio.Nombre</h1>
    <a asp-action="Create" asp-controller="Descripcionservicios"  asp-route-id="@ViewBag.servicio.IdServicio">
        <button type="button" class="btn btn-success">Agregar Descripción Servicio</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Descripción</th>
                <th>Nombre Servicio</th>
                <th>Precio</th>
                <th>SKU</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.ServicioIdServicioNavigation.Nombre</td>
                    <td>@item.ServicioIdServicioNavigation.Precio</td>
                    <td>@item.ServicioIdServicioNavigation.Sku</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <div class="dropdown-menu">
                                <a asp-action="Edit" asp-controller="Descripcionservicios" asp-route-id="@item.IdDescServ" class="dropdown-item">Editar</a>
                                <a asp-action="Details" asp-controller="Descripcionservicios" asp-route-id="@item.IdDescServ" class="dropdown-item">Detalles</a>
                                <a asp-action="Delete" asp-controller="Descripcionservicios" asp-route-id="@item.IdDescServ" class="dropdown-item">Borrar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
