@model IEnumerable<MercDevs_ej2.Models.Recepcionequipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Recepcion De equipos Por Cliente</h1>
<body style="align-content:center">
    <p>
        <a asp-action="Create"><button type="button" class="btn btn-success ">Crear Recepcion</button></a>
    </p>
    <table class="table">
        <thead td style="white-space: nowrap;">
            <tr>

                <th>
                    Fecha De Recepcion
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPc)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.CPU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarcaPc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModeloPc)
                </th>
                <th>
                    Graficos
                </th>
                <th>
                    Nombre Cliente
                </th>
                <th>Servicio</th>
                <th colspan="3" style="text-align:center">Acciones</th>
            </tr>
        </thead>
        <tbody style="text-align">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="white-space: nowrap;">
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @{
                            string tipoEquipo = "";
                            switch (item.TipoPc)
                            {
                                case 0:
                                    tipoEquipo = "PC Torre";
                                    break;
                                case 1:
                                    tipoEquipo = "Notebook";
                                    break;
                                case 2:
                                    tipoEquipo = "All-In-One";
                                    break;
                                default:
                                    tipoEquipo = "Desconocido";
                                    break;
                            }
                            @tipoEquipo
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarcaPc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModeloPc)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Grafico)
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdServicioNavigation.Nombre)
                    </td>
                    <td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <div class="dropdown-menu">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item"> Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Borrar</a>
                                <a asp-controller="Datosfichatecnicas" asp-action="Index" asp-route-id="@item.Id" class="dropdown-item">Ficha tecnica</a>
                                <a asp-controller="Datosfichatecnicas" asp-action="DatosPorRecep" asp-route-id="@item.Id" class="dropdown-item">ver ficha por recepcion</a>
                                <a method="post" asp-action="Finalizar" asp-route-id="@item.Id" class="dropdown-item">Finalizar R.</a>
                                
                            </div>
                        </div>
                    </td>
                       
                    
                </tr>
            }
        </tbody>
    </table>
</body>