@model MercDevs_ej2.Models.Datosfichatecnica

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Datos ficha tecnica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            FechaInicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            Fecha Termino
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>
        <dt class = "col-sm-2">
            Observaciones || Recomendaciones
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PobservacionesRecomendaciones)
        </dd>
        <dt class = "col-sm-2">
            Sistema Operativo
        </dt>
        <dd class = "col-sm-10">
            @{
                string soinstalado = "";
                switch (Model.Soinstalado)
                {
                    case 0:
                        soinstalado = "Windows 10";
                        break;
                    case 1:
                        soinstalado = "Windows 11";
                        break;
                    case 2:
                        soinstalado = "Linux";
                        break;
                }
                @soinstalado
            }
        </dd>
        <dt class = "col-sm-2">
            Sistema Office instalado
        </dt>
        <dd class = "col-sm-10">
            @{
                string suiteofficeinstalada = "";
                switch (Model.Soinstalado)
                {
                    case 0:
                        suiteofficeinstalada = "Microsoft Office 2013";
                        break;
                    case 1:
                        suiteofficeinstalada = "Microsoft Office 2019";
                        break;
                    case 2:
                        suiteofficeinstalada = "Microsoft Office 365";
                        break;
                    case 3:
                        suiteofficeinstalada = "OpenOffice";
                        break;
                }
                @suiteofficeinstalada
            }
        </dd>
        <dt class = "col-sm-2">
            Lector PDF
        </dt>
        <dd class = "col-sm-10">
            @{
                string lectorpdfinstalado = "";
                switch (Model.Soinstalado)
                {
                    case 0:
                        lectorpdfinstalado = "No Instalado";
                        break;
                    case 1:
                        lectorpdfinstalado = "Instalado";
                        break;
                    case 2:
                        lectorpdfinstalado = "No Aplica";
                        break;
                }
                @lectorpdfinstalado
            }
        </dd>
        <dt class = "col-sm-2">
           Navegador Web
        </dt>
        <dd class = "col-sm-10">
            @{
                string navegadorwebinstalado = "";
                switch (Model.NavegadorWebInstalado)
                {
                    case 0:
                        navegadorwebinstalado = "No Instalado";
                        break;
                    case 1:
                        navegadorwebinstalado = "Chrome";
                        break;
                    case 2:
                        navegadorwebinstalado = "Chrome y Firefox";
                        break;
                }
                @navegadorwebinstalado
            }
        </dd>
        <dt class = "col-sm-2">
        Antivirus
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntivirusInstalado)
        </dd>
        <dt class = "col-sm-2">
           Id Recepcion De equipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecepcionEquipo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDatosFichaTecnica">Editar</a> |
    <button class="btn btn-secondary" onclick="window.history.back();">Volver a la lista</button>
</div>
