@model IEnumerable<MercDevs_ej2.Models.Datosfichatecnica>

@{
    ViewData["Title"] = "Ficha Técnica";
}

<h1>Datos Ficha Técnica</h1>

<body style="align-content:center">
    <p>
        <a asp-action="Create" class="btn btn-success">
            Crear Ficha Técnica
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdDatosFichaTecnica)
                </th>

                <th>
                    Id Recepción
                </th>

                <th>
                    Observaciones || Recomendaciones
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soinstalado)
                </th>

                <th>Marca</th>
                <th>Modelo</th>
                <th>N° Serie</th>
                <th>Estado</th>
                <th style="text-align:center">Acciones</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDatosFichaTecnica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecepcionEquipo.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PobservacionesRecomendaciones)
                    </td>
                    <td>
                        @{
                            string soinstalado = item.Soinstalado switch
                            {
                                0 => "Windows 10",
                                1 => "Windows 11",
                                2 => "Linux",
                                _ => "Desconocido"
                            };
                            @soinstalado
                        }
                    </td>
                   

                    <td>
                        @Html.DisplayFor(modelItem => item.RecepcionEquipo.MarcaPc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecepcionEquipo.ModeloPc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecepcionEquipo.Nserie)
                    </td>
                    <td class="text-center">
                        @{
                            string estado = item.Estado switch
                            {
                                0 => "Finalizado",
                                1 => "Recepcionado",
                                2 => "En espera",
                                _ => "Desconocido"
                            };
                            @estado
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <div class="dropdown-menu">
                                <a asp-action="Edit" asp-route-id="@item.IdDatosFichaTecnica" class="dropdown-item">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.IdDatosFichaTecnica" class="dropdown-item">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.IdDatosFichaTecnica" class="dropdown-item">Borrar</a>
                                <a asp-action="Index" asp-route-id="@item.RecepcionEquipoId" class="dropdown-item">Ver Ficha</a>
                                <a asp-action="DyS" asp-controller="Diagnosticosolucions" asp-route-id="@item.IdDatosFichaTecnica" class="dropdown-item">Diag y Solución</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
