@model IEnumerable<MercDevs_ej2.Models.Datosfichatecnica>

@{
    ViewData["Title"] = "Index";
}

<h1>Datos Ficha Tecnica</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Crear Ficha Tecnica</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Ficha
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de Termino
            </th>
            <th>
                Observaciones || Recomendaciones 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soinstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuiteOfficeInstalada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectorPdfinstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NavegadorWebInstalado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntivirusInstalado)
            </th>
            <th>
                Id Recepcion
            </th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>N° Serie</th>
            <th>Estado</th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDatosFichaTecnica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PobservacionesRecomendaciones)
                </td>
                <td>
                    @{
                        string soinstalado = "";
                        switch (item.Soinstalado)
                        {
                            case 0:
                                soinstalado = "Windows 10";
                                break;
                            case 1:
                                soinstalado = "Windows 11";
                                break;
                            case 2:
                                soinstalado = "Linux";
                                break;
                        }
                        @soinstalado
                    }
                </td>
                <td>
                    @{
                        string suiteofficeinstalada = "";
                        switch (item.SuiteOfficeInstalada)
                        {
                            case 0:
                                suiteofficeinstalada = "Microsoft Office 2013";
                                break;
                            case 1:
                                suiteofficeinstalada = "Microsoft Office 2019";
                                break;
                            case 2:
                                suiteofficeinstalada = "Microsoft Office 365";
                                break;
                            case 3:
                                suiteofficeinstalada = "OpenOffice";
                                break;
                        }
                        @suiteofficeinstalada
                    }
                </td>
                <td> 
                    @{
                        string lectorpdfinstalado = "";
                        switch (item.LectorPdfinstalado)
                        {
                            case 0:
                                lectorpdfinstalado = "Adobe Acrobat";
                                break;
                            case 1:
                                lectorpdfinstalado = "Foxit Reader";
                                break;
                            case 2:
                                lectorpdfinstalado = "Sumatra PDF";
                                break;
                        }
                        @lectorpdfinstalado
                    }
                </td>
                <td>
                    @{
                        string navegadorwebinstalado = "";
                        switch (item.NavegadorWebInstalado)
                        {
                            case 0:
                                navegadorwebinstalado = "No Instalado";
                                break;
                            case 1:
                                navegadorwebinstalado = "Chrome";
                                break;
                            case 2:
                                navegadorwebinstalado = "Chrome y Firefox";
                                break;
                        }
                        @navegadorwebinstalado
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntivirusInstalado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecepcionEquipo.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecepcionEquipo.MarcaPc)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecepcionEquipo.ModeloPc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecepcionEquipo.Nserie)

                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Diagnosticosolucionpordatosficha" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-warning">Ver&nbsp;Diagnostico</button></a>
                    <a asp-action="Edit" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                    <a asp-action="Details" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-warning">Detalles</button></a>
                    <a asp-action="Delete" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-danger">Borrar</button></a>
                    <a asp-action="DyS" asp-route-id="@item.IdDatosFichaTecnica"><button type="button" class="btn btn-outline-info">D&nbsp;y&nbsp;Solucion</button></a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>