@model MercDevs_ej2.Models.Cliente

@{
    ViewData["Title"] = "Eliminar";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <hr />
    <table class="table">
        <thead>
            <h5>Recuerde leer detenidamente antes de eliminar algo.</h5>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Apellido)</td>
                <td>@Html.DisplayFor(model => model.Apellido)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Correo)</td>
                <td>@Html.DisplayFor(model => model.Correo)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Telefono)</td>
                <td>@Html.DisplayFor(model => model.Telefono)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Direccion)</td>
                <td>@Html.DisplayFor(model => model.Direccion)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Estado)</td>
                <td>
                    @{
                        string Estado = "";
                        switch (Model.Estado)
                        {
                            case 0:
                                Estado = "Inactivo";
                                break;
                            case 1:
                                Estado = "Activo";
                                break;
                            case 2:
                                Estado = "En espera";
                                break;
                        }
                        @Estado
                    }
                </td>
            </tr>
        </tbody>
    </table>
    @{
        var errorMessage = TempData["ErrorMessage"] as string;
        var successMessage = TempData["SuccessMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            Swal.fire("Error", "@errorMessage", "error");
        </script>
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mt-4 d-flex justify-content-between">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCliente" />
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="bi bi-x-circle"></i> Confirmar Eliminación
            </button>
        </form>
        <a asp-action="Index" class="btn btn-secondary btn-sm">
            <i class="bi bi-arrow-left-circle"></i> Volver a la lista
        </a>
    </div>
</div>
