@model MercDevs_ej2.Models.Cliente

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <hr />
    <table class="table">
        <thead>
            Recuerde leer detenidamente antes de eliminar algo.
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Apellido)</td>
                <td>@Html.DisplayFor(model => model.Apellido)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Correo)</td>
                <td>@Html.DisplayFor(model => model.Correo)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Telefono)</td>
                <td>@Html.DisplayFor(model => model.Telefono)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Direccion)</td>
                <td>@Html.DisplayFor(model => model.Direccion)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Estado)</td>
                <td>
                    @{
                        string Estado = "";
                        switch (Model.Estado)
                        {
                            case 0:
                                Estado = "Inactivo";
                                break;
                            case 1:
                                Estado = "Activo";
                                break;
                            case 2:
                                Estado = "En espera";
                                break;
                        }
                        @Estado
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
    <a asp-action="Index"><button class="btn btn-secondary">volver a la lista</button></a>
</div>
