@model MercDevs_ej2.Models.Cliente

@{
    ViewData["Title"] = "Detalles Cliente";
}

<h1>Detalles Cliente</h1>

<div>
    <table class="table">
        <tbody>
            <tr>
           
                <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Apellido)</td>
                <td>@Html.DisplayFor(model => model.Apellido)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Correo)</td>
                <td>@Html.DisplayFor(model => model.Correo)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Telefono)</td>
                <td>@Html.DisplayFor(model => model.Telefono)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Direccion)</td>
                <td>@Html.DisplayFor(model => model.Direccion)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Estado)</td>
                <td>
                    @{
                        string Estado = "";
                        switch (Model.Estado)
                        {
                            case 0:
                                Estado = "Inactivo";
                                break;
                            case 1:
                                Estado = "Activo";
                                break;
                            case 2:
                                Estado = "En espera";
                                break;
                        }
                        @Estado
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCliente"><button class="btn btn-warning">Editar</button></a> |
    <a asp-action="Index"><button class="btn btn-secondary">Volver a listado</button></a>
</div>
