@model IEnumerable<MercDevs_ej2.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Listados de Clientes</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Agregar Cliente</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                    @{



                        string lectorpdfinstalado = "";
                        switch (item.Estado)
                        {

                            case 0:

                                lectorpdfinstalado = "Inactivo";

                                break;

                            case 1:

                                lectorpdfinstalado = "Activo";

                                break;

                            case 2:

                                lectorpdfinstalado = "En espera";

                                break;

                        }
                        @lectorpdfinstalado
                    }
            </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu">
                            <a asp-action="Edit" asp-route-id="@item.IdCliente" class="dropdown-item">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdCliente" class="dropdown-item"> Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.IdCliente" class="dropdown-item">Borrar</a>
                            <a asp-controller="Recepcionequipoes" asp-action="IndexId" asp-route-id="@item.IdCliente" class="dropdown-item">R. de Equipo</a>
                        </div>
                    </div>
                </td>

        </tr>
}
    </tbody>
</table>
