@model MercDevs_ej2.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Usuario</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <hr />
    <table class="table">
        <thead>
            <h5>Recuerde leer detenidamente antes de eliminar algo.</h5>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Apellido)</td>
                <td>@Html.DisplayFor(model => model.Apellido)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Correo)</td>
                <td>@Html.DisplayFor(model => model.Correo)</td>
            </tr>
        </tbody>
    </table>
</div>
<br />


<div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdUsuario" />
    
    <div class="form-group">
        <label asp-for="CurrentPassword">Ingrese su contraseña para confirmar</label>
        <input asp-for="CurrentPassword" class="form-control" type="password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-danger">Eliminar Usuario</button>
</form>

    <a asp-action="Index"><button class="btn btn-secondary">volver a la lista</button></a>
</div>
