@model IEnumerable<MercDevs_ej2.Models.Diagnosticosolucion>

@{
    ViewData["Title"] = "Index";
}
@if (!Model.Any())
{
<h1>Diagnóstico y Solución por Ficha Técnica</h1>


    <div style="text-align:center; margin-top: 50px;">
        <h1>Ups, no hay ningún registro para mostrar</h1>
        <a asp-action="CrearPorDatos" asp-route-id="@ViewBag.DatosFichaTecnicaId">
            <button type="button" class="btn btn-success">Crear Diagnóstico-Solución</button>
        </a>
        <a asp-action="Inicio" asp-controller="Datosfichatecnicas">
            <button type="button" class="btn btn-info">Volver a Listado</button>
            </a>
    </div>
}
else
{
    <h1>Diagnóstico y Solución por Ficha Técnica</h1>
    <a asp-action="CrearPorDatos" asp-route-id="@ViewBag.DatosFichaTecnicaId">
        <button type="button" class="btn btn-success">Crear Diagnóstico-Solución</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Descripción Diagnóstico</th>
                <th>Descripción Solución</th>
                <th>Id Ficha Técnica</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DescripcionDiagnostico</td>
                    <td>@item.DescripcionSolucion</td>
                    <td>@item.DatosFichaTecnicaId</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <div class="dropdown-menu">
                                <a asp-action="Edit" asp-controller="Diagnosticosolucions" asp-route-id="@item.IdDiagnosticoSolucion" class="dropdown-item">Editar</a>
                                <a asp-action="Details" asp-controller="Diagnosticosolucions" asp-route-id="@item.IdDiagnosticoSolucion" class="dropdown-item">Detalles</a>
                                <a asp-action="Delete" asp-controller="Diagnosticosolucions" asp-route-id="@item.IdDiagnosticoSolucion" class="dropdown-item">Borrar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
